*.gcno
*.gcov
*.gcda
.deps/
.libs/
autom4te.cache/
m4/
Makefile
Makefile.in
config.log
configure
config.status
config.h
config.h.in
aclocal.m4
libtool
stamp-h1
qrencode
qrencode.1
qrencode.spec
libqrencode.pc
tests/create_frame_pattern
tests/create_mqr_frame_pattern
tests/frame
tests/mqrframe
tests/pthread_qrencode
tests/prof_qrencode
tests/test_bitstream
tests/test_estimatebit
tests/test_mask
tests/test_mmask
tests/test_monkey
tests/test_mqrspec
tests/test_qrencode
tests/test_qrinput
tests/test_qrspec
tests/test_rs
tests/test_split
tests/view_qrcode
use/compile
use/config.guess
use/config.sub
use/depcomp
use/install-sh
use/ltmain.sh
use/missing
